---
layout: default
type: home
title: I'm William Meldrum
---

<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

<p>
  I'm a recent Computer Science graduate (BS, Dec 2021) from the University of Utah
  with an unparalelled passion for computer graphics. I'm currently working with Motorola Solutions to
  create a cloud-based 911 dispatcher application. In my free time I enjoy playing Street Fighter
  competitively and spoiling my three cats with my wife.
</p>
<br><br>

{% include expertise.html %}

<br><br>

<h2>Education:</h2>
<ul>

  <li>
    <p><b>University of Utah:</b> 2017-2021 </p>
    <ul>
      <li>BS in Computer Science</li>
      <li>Certified in Visual Computing</li>
    </ul>
  </li>
</ul>

<br><br>

<h2>Experience:</h2>
<ul>
  <li>
    <p><b>2022-present: </b>Motorola Solutions - Software Engineer</p>
  </li>
  <li>
    <p><b>2021-2022: </b>Motorola Solutions - Software Engineer Intern</p>
  </li>
  <li>
    <p><b>2020: </b>Center for High Performance Computing - Platform Operator</p>
  </li>
  <li>
    <p><b>2017-2020: </b>University of Utah Network Operations - Network Operator</p>
  </li>
</ul>

<!-- <p>
  Nibh ipsum consequat nisl vel pretium lectus. Et netus et malesuada fames ac
  turpis egestas. Feugiat vivamus at augue eget arcu dictum. Lectus nulla at
  volutpat diam ut venenatis tellus in. Massa tincidunt dui ut ornare lectus
  sit. Mattis nunc sed blandit libero volutpat sed. Mi eget mauris pharetra et
  ultrices neque ornare. Pulvinar sapien et ligula ullamcorper.
</p> -->

<p>
  Volutpat blandit aliquam etiam erat velit scelerisque. Non pulvinar neque
  laoreet suspendisse. Sapien pellentesque habitant morbi tristique senectus et.
  Proin nibh nisl condimentum id. At consectetur lorem donec massa sapien
  faucibus et molestie ac. Gravida arcu ac tortor dignissim convallis aenean et.
</p>

<br><br>

{% include projects.html %}

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Tristique sollicitudin nibh sit
  amet. At quis risus sed vulputate odio ut. Quis eleifend quam adipiscing vitae
  proin sagittis nisl rhoncus mattis. Urna duis convallis convallis tellus id
  interdum. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero.
  Volutpat est velit egestas dui id ornare. Amet massa vitae tortor condimentum.
</p>

{% include blogs.html %}

<p>
  Nibh ipsum consequat nisl vel pretium lectus. Et netus et malesuada fames ac
  turpis egestas. Feugiat vivamus at augue eget arcu dictum. Lectus nulla at
  volutpat diam ut venenatis tellus in. Massa tincidunt dui ut ornare lectus
  sit. Mattis nunc sed blandit libero volutpat sed. Mi eget mauris pharetra et
  ultrices neque ornare. Pulvinar sapien et ligula ullamcorper.
</p>
<p class="d-flex">
  {% include buy-button.html %}
</p>